# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

note-data/include/*
note-data/build/*
note-data/asset/*

*.DS_Store

\.vscode/

note-data/output\.txt

note-data/tools/bin/
note-data/tools/build/
note-data/tools/include/

*.wav
*.m4a
*.mp4
*.mp3
*.mov